.delayed-media__poster {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: calc(var(--border-radius) - var(--border-width));
}

.media > .delayed-media__poster {
  display: flex;
  align-items: center;
  justify-content: center;
}

.delayed-media__poster img {
  width: auto;
  max-width: 100%;
  height: 100%;
}

.delayed-media {
  overflow: hidden;
}

.delayed-media:not([loaded]) template {
  z-index: -1;
}

.delayed-media[loaded] > .delayed-media__poster {
  display: none;
}

.delayed-media__poster:focus-visible {
  outline: none;
  box-shadow: 0 0 0 var(--media-border-width) rgba(var(--color-text), var(--media-border-opacity)),
    0 0 0 calc(var(--media-border-width) + 0.3rem) rgb(var(--color-bg)),
    0 0 0 calc(var(--media-border-width) + 0.5rem) rgba(var(--color-text), 0.5);
  border-radius: calc(var(--media-radius) - var(--media-border-width));
}

.delayed-media__poster:focus {
  outline: none;
  box-shadow: 0 0 0 var(--media-border-width) rgba(var(--color-text), var(--media-border-opacity)),
    0 0 0 calc(var(--media-border-width) + 0.3rem) rgb(var(--color-bg)),
    0 0 0 calc(var(--media-border-width) + 0.5rem) rgba(var(--color-text), 0.5);
  border-radius: calc(var(--media-radius) - var(--media-border-width));
}

.global-media-settings--full-width .delayed-media__poster,
.global-media-settings--full-width .delayed-media__poster:is(:focus, :focus-visible) {
  border-radius: 0;
}

/* outline styling for Windows High Contrast Mode */
@media (forced-colors: active) {
  .delayed-media__poster:focus {
    outline: transparent solid 1px;
  }
}
.delayed-media__poster:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

.delayed-media__poster-button {
  background-color: rgb(var(--color-bg));
  border: 0.1rem solid rgba(var(--color-text), 0.1);
  border-radius: 50%;
  color: rgb(var(--color-text));
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--duration-short) ease, color var(--duration-short) ease;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.25), 0 6px 20px 0 rgba(0,0,0, 0.25);
}

.delayed-media__poster-button:hover {
  animation: zoom-animate 0.1s ease forwards;
}

@keyframes zoom-animate {
  0% {
    transform: translate(-50%, -50%) scale(1.02);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.05);
  }
  75% {
    transform: translate(-50%, -50%) scale(1.075);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.1);
  }
}
.delayed-media__poster-button .icon {
  width: 2.5rem;
  height: 2.5rem;
  color: rgb(var(--color-text));
  fill: rgb(var(--color-text));
}

.delayed-media__poster-button .icon-play {
  margin-left: 0.2rem;
}
